In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("chr19_chr19.pi_30kb.txt.gz",sep="\t")

In [5]:
df.head()

,Unnamed: 0,chr19:0-30000,chr19:30000-60000,chr19:60000-90000,chr19:90000-120000,chr19:120000-150000,chr19:150000-180000,chr19:180000-210000,chr19:210000-240000,chr19:240000-270000,...,chr19:61050000-61080000,chr19:61080000-61110000,chr19:61110000-61140000,chr19:61140000-61170000,chr19:61170000-61200000,chr19:61200000-61230000,chr19:61230000-61260000,chr19:61260000-61290000,chr19:61290000-61320000,chr19:61320000-61342430
0,chr19:0-30000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr19:30000-60000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr19:60000-90000,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr19:90000-120000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr19:120000-150000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.fillna(0,inplace=True)

In [7]:
df.head()

,Unnamed: 0,chr19:0-30000,chr19:30000-60000,chr19:60000-90000,chr19:90000-120000,chr19:120000-150000,chr19:150000-180000,chr19:180000-210000,chr19:210000-240000,chr19:240000-270000,...,chr19:61050000-61080000,chr19:61080000-61110000,chr19:61110000-61140000,chr19:61140000-61170000,chr19:61170000-61200000,chr19:61200000-61230000,chr19:61230000-61260000,chr19:61260000-61290000,chr19:61290000-61320000,chr19:61320000-61342430
0,chr19:0-30000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,chr19:30000-60000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,chr19:60000-90000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,chr19:90000-120000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,chr19:120000-150000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
len()

119