In [1]:
regulators = ["esrrb","klf2","klf4","nanog","tfcp2l1","foxd3","myc","dido1","zfhx2","setd1b","pou3f1","fgf5","fgf15","sox3","myb"]

In [2]:
cols = ["R1-Up-Genes","R2-Up-Genes","R1-Down-Genes","R2-Down-Genes","R1-Overlap-Genes","R2-Overlap-Genes"]

In [2]:
import pandas as pd
gam = pd.read_csv("SLICE_02.chromatin_interaction_pairs_of_features.csv.gz")
gam.head()

,name,variable,value,R1-Overlap-Genes,R2-Overlap-Genes,R1-Overlap-TADs,R2-Overlap-TADs
0,chr7:96720000-96750000,chr7:96810000-96840000,1.0,NaN,Me3,chr7:96600000-97080000,chr7:96600000-97080000
1,chr7:64470000-64500000,chr7:64500000-64530000,1.0,Gabrg3,Gabrg3,chr7:64120000-64760000,chr7:64120000-64760000
2,chr7:94290000-94320000,chr7:94320000-94350000,1.0,NaN,NaN,chr7:94240000-94720000,chr7:94240000-94720000
3,chr7:126720000-126750000,chr7:126750000-126780000,1.0,"Acsm2,Acsm1","Acsm1,Acsm2",chr7:125880000-126800000,chr7:125880000-126800000
4,chr7:73080000-73110000,chr7:73110000-73140000,1.0,Pcsk6,Pcsk6,chr7:72840000-73240000,chr7:72840000-73240000

In [4]:
names = []
for c in cols:
    for r in regulators:
        try:
            names += gam[c][gam[c].str.match(r,case=False) == True].tolist()
        except:
            continue

In [10]:
genes = []
for i in names:
    temp = i.split(",")
#     print (temp)
    for r in regulators:
        for t in temp:
#             print (t)
            t = t.replace(" ","")
            if r == t.lower():
#                 print (t)
                genes.append(t)
genes = list(set(genes))
genes

['Myb', 'Zfhx2', 'Pou3f1', 'Fgf5', 'Myc', 'Esrrb']

In [7]:
len(genes)

13