In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame()

In [9]:
df[1] = ['a','b']
df[2] = ['c','d']

In [16]:
df

   1  2
0  a  c
1  b  d

In [17]:
def highlight_max(s):
    colors = []
    print (s)
    if s == "a":
        colors.append('background-color: yellow')
    elif s == "b":
        colors.append('background-color: green')
    else:
        colors.append('background-color: white')
    return colors

In [25]:
def highlight(s):
#     print (s)
    if s == "a":
        return 'background-color: yellow'
    elif s == "b":
        return 'background-color: green'
    else:
        return 'background-color: white'
    return colors

In [32]:
df.style.applymap(highlight).set_table_styles(
        [{'selector': '.row_heading',
          'props': [('display', 'none')]},
         {'selector': '.blank.level0',
          'props': [('display', 'none')]}]).render().replace("\n","")

'<style  type="text/css" >    #T_1b3b8034_38c5_11e9_bb2d_08002700b06c .row_heading {          display: none;    }    #T_1b3b8034_38c5_11e9_bb2d_08002700b06c .blank.level0 {          display: none;    }    #T_1b3b8034_38c5_11e9_bb2d_08002700b06crow0_col0 {            background-color:  yellow;        }    #T_1b3b8034_38c5_11e9_bb2d_08002700b06crow0_col1 {            background-color:  white;        }    #T_1b3b8034_38c5_11e9_bb2d_08002700b06crow1_col0 {            background-color:  green;        }    #T_1b3b8034_38c5_11e9_bb2d_08002700b06crow1_col1 {            background-color:  white;        }</style>  <table id="T_1b3b8034_38c5_11e9_bb2d_08002700b06c" > <thead>    <tr>         <th class="blank level0" ></th>         <th class="col_heading level0 col0" >1</th>         <th class="col_heading level0 col1" >2</th>     </tr></thead> <tbody>    <tr>         <th id="T_1b3b8034_38c5_11e9_bb2d_08002700b06clevel0_row0" class="row_heading level0 row0" >0</th>         <td id="T_1b3b8034_38c5_11e9_bb2d_08002700b06crow0_col0" class="data row0 col0" >a</td>         <td id="T_1b3b8034_38c5_11e9_bb2d_08002700b06crow0_col1" class="data row0 col1" >c</td>     </tr>    <tr>         <th id="T_1b3b8034_38c5_11e9_bb2d_08002700b06clevel0_row1" class="row_heading level0 row1" >1</th>         <td id="T_1b3b8034_38c5_11e9_bb2d_08002700b06crow1_col0" class="data row1 col0" >b</td>         <td id="T_1b3b8034_38c5_11e9_bb2d_08002700b06crow1_col1" class="data row1 col1" >d</td>     </tr></tbody> </table> '

In [21]:
df

   1  2
0  a  c
1  b  d

In [5]:
df.to_html("test.html")

In [6]:

import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

In [7]:
df

      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720