In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame()
df1['x'] = [1,1]
df1.index=['111','000']

In [9]:
df1['x'] = df1['x'].astype("int8")

In [11]:
df1.dtypes

x    int8
dtype: object

In [3]:
df2=pd.DataFrame()
df2['y'] = [1,1]
df2.index=['101','000']

In [12]:
df1.merge(df2,how="outer",left_index=True,right_index=True)

       x    y
000  1.0  1.0
101  NaN  1.0
111  1.0  NaN

In [5]:
from numpy.random import randn
df = pd.DataFrame(randn(10000, 4))

In [8]:
import numpy as np
df.iloc[:9998] = np.nan

In [12]:
df.at[0,0]

nan

In [13]:
sdf = df.to_sparse()

In [16]:
sdf.at[9999,0]

1.1869632912773911

In [17]:
4**20

1099511627776

In [ ]:
1,099,511,627,776