In [1]:
import pandas as pd
df = pd.read_csv("GAM.genes.csv",index_col=0)

In [2]:
df.head()

                    Overlap-Genes
name
chr18:0-30000                   .
chr18:30000-60000               .
chr18:60000-90000               .
chr18:90000-120000              .
chr18:120000-150000             .

In [4]:
df = df[df['Overlap-Genes'].str.contains("Hist")]

In [5]:
df.shape

(22, 1)

In [6]:
df.to_csv("GAM.hist.windows.csv")

In [11]:
gam = pd.read_csv("GSE64881_segmentation_at_30000bp.passqc.multibam.txt.gz",sep="\t")

In [12]:
gam.head()

,chrom,start,stop,F10A2,F10A3,F10A4,F10A5,F10A6,F10B1,F10B2,...,F9F2,F9F3,F9F4,F9F5,F9F6,F9G1,F9G2,F9G3,F9G4,F9G5
0,chr1,0,30000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,chr1,30000,60000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,chr1,60000,90000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,chr1,90000,120000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,chr1,120000,150000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
gam.index = gam.chrom+":"+gam.start.astype(str)+"-"+gam.stop.astype(str)

In [14]:
gam.head()

,chrom,start,stop,F10A2,F10A3,F10A4,F10A5,F10A6,F10B1,F10B2,...,F9F2,F9F3,F9F4,F9F5,F9F6,F9G1,F9G2,F9G3,F9G4,F9G5
chr1:0-30000,chr1,0,30000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr1:30000-60000,chr1,30000,60000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr1:60000-90000,chr1,60000,90000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr1:90000-120000,chr1,90000,120000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr1:120000-150000,chr1,120000,150000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df.head()

                                                             Overlap-Genes
name
chr11:58740000-58770000  Rnf187,Hist3h2ba,Hist3h2bb-ps,Btnl10,Hist3h2a,...
chr11:58770000-58800000       Gm12260,Hist3h2a,Trim17,2310058D17Rik,Trim11
chr13:21780000-21810000              Olfr1359,Hist1h2bl,Hist1h2ai,Hist1h3h
chr13:21810000-21840000                       Hist1h2aj,Hist1h2bm,Hist1h4j
chr13:21840000-21870000               Hist1h4k,Hist1h2ak,Hist1h2bn,Gm11274

In [15]:
gam.shape

(90877, 411)

In [21]:
gam2 = gam.loc[df.index]

In [24]:
gam3=gam2.groupby(['chrom']).sum()

In [25]:
gam3

,start,stop,F10A2,F10A3,F10A4,F10A5,F10A6,F10B1,F10B2,F10B3,...,F9F2,F9F3,F9F4,F9F5,F9F6,F9G1,F9G2,F9G3,F9G4,F9G5
chrom,,,,,,,,,,,,,,,,,,,,,
chr11,117510000,117570000,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
chr13,396420000,396900000,0,5,0,0,0,0,0,0,...,11,1,0,0,0,0,0,1,0,0
chr3,288090000,288180000,0,0,0,0,0,0,2,0,...,3,0,0,0,0,0,0,0,0,0
chr6,136740000,136770000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# how many NPs contain all four ?
# how many NPs contain any three ?
# how many NPs contain any two ?
# how many NPs contain any one ?

In [26]:
gam4 = (gam3>=1).astype(int)

In [29]:
gam4 = gam4.drop(['start','stop'],axis=1)

In [30]:
gam4

,F10A2,F10A3,F10A4,F10A5,F10A6,F10B1,F10B2,F10B3,F10B4,F10B5,...,F9F2,F9F3,F9F4,F9F5,F9F6,F9G1,F9G2,F9G3,F9G4,F9G5
chrom,,,,,,,,,,,,,,,,,,,,,
chr11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr13,0,1,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,1,0,0
chr3,0,0,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
chr6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
len(gam4.columns[gam4.sum() == 2])

31

In [40]:
len(gam4.columns[gam4.sum() == 3])

4

In [41]:
len(gam4.columns[gam4.sum() == 1])

148

In [42]:
31/148

0.20945945945945946

In [46]:
0.22/0.21

1.0476190476190477

In [17]:
gam['F10A2'].loc[df.index].sum()

0

In [18]:
my_dict = {}
for i in gam.columns[3:]:
    my_dict[i] = gam[i].loc[df.index].sum()

In [19]:
my_dict

{'F10A2': 0,
 'F10A3': 6,
 'F10A4': 0,
 'F10A5': 0,
 'F10A6': 0,
 'F10B1': 0,
 'F10B2': 4,
 'F10B3': 0,
 'F10B4': 2,
 'F10B5': 15,
 'F10B6': 0,
 'F10C1': 1,
 'F10C2': 0,
 'F10C3': 13,
 'F10C4': 7,
 'F10C6': 0,
 'F10D1': 16,
 'F10D2': 0,
 'F10D3': 0,
 'F10D5': 0,
 'F10D6': 2,
 'F10E1': 0,
 'F10E2': 0,
 'F10E3': 0,
 'F10E4': 0,
 'F10E5': 10,
 'F10E6': 1,
 'F10F1': 8,
 'F10F2': 1,
 'F10F3': 5,
 'F10F4': 0,
 'F10F5': 6,
 'F10F6': 0,
 'F10G1': 0,
 'F10G2': 6,
 'F10G4': 0,
 'F10G5': 0,
 'F11A1': 3,
 'F11A2': 0,
 'F11A3': 8,
 'F11A4': 0,
 'F11A5': 1,
 'F11A6': 2,
 'F11B1': 4,
 'F11B2': 8,
 'F11B3': 0,
 'F11B4': 1,
 'F11B5': 7,
 'F11C1': 0,
 'F11C2': 15,
 'F11C3': 0,
 'F11C4': 0,
 'F11C6': 0,
 'F11D1': 8,
 'F11D2': 0,
 'F11D3': 0,
 'F11D4': 6,
 'F11D6': 0,
 'F11E1': 0,
 'F11E3': 0,
 'F11E4': 0,
 'F11E5': 0,
 'F11E6': 3,
 'F11F1': 0,
 'F11F2': 0,
 'F11F4': 0,
 'F11F5': 0,
 'F11F6': 0,
 'F11G1': 0,
 'F11G3': 6,
 'F11G4': 0,
 'F12A2': 0,
 'F12A4': 1,
 'F12A6': 0,
 'F12B1': 1,
 'F12B2': 0,
 'F12B3': 1,
 'F12B5': 0,
 'F12B6': 0,
 'F12C1': 0,
 'F12C2': 1,
 'F12C4': 1,
 'F12C6': 4,
 'F12D4': 0,
 'F12D5': 0,
 'F12D6': 1,
 'F12E1': 7,
 'F12E3': 1,
 'F12E4': 1,
 'F12E5': 2,
 'F12E6': 5,
 'F12F1': 0,
 'F12F2': 1,
 'F12F4': 0,
 'F12F5': 9,
 'F12F6': 0,
 'F12G1': 7,
 'F12G2': 0,
 'F12G3': 0,
 'F12G4': 0,
 'F15A3': 3,
 'F15A5': 0,
 'F15A6': 0,
 'F15A7': 1,
 'F15A8': 1,
 'F15B1': 0,
 'F15B3': 1,
 'F15B4': 1,
 'F15B5': 0,
 'F15B6': 0,
 'F15B7': 0,
 'F15B8': 1,
 'F15C1': 0,
 'F15C2': 0,
 'F15C3': 0,
 'F15C4': 0,
 'F15C5': 4,
 'F15C6': 0,
 'F15C7': 0,
 'F15C8': 5,
 'F15D1': 3,
 'F15D2': 7,
 'F15D3': 0,
 'F15D4': 0,
 'F15D7': 0,
 'F15D8': 0,
 'F15E1': 3,
 'F15E2': 3,
 'F15E4': 1,
 'F15E5': 4,
 'F15E6': 1,
 'F15E7': 4,
 'F15E8': 0,
 'F15F1': 0,
 'F15F2': 0,
 'F15F3': 0,
 'F15F4': 0,
 'F15F5': 7,
 'F15F6': 0,
 'F15F7': 0,
 'F15F8': 1,
 'F15G1': 0,
 'F15G3': 0,
 'F15G4': 0,
 'F15G5': 0,
 'F15G6': 0,
 'F15G7': 0,
 'F15G8': 0,
 'F15H1': 3,
 'F15H5': 5,
 'F15H7': 0,
 'F16A1': 0,
 'F16A2': 1,
 'F16A3': 1,
 'F16A4': 3,
 'F16A5': 6,
 'F16A6': 0,
 'F16A7': 0,
 'F16B1': 0,
 'F16B2': 1,
 'F16B3': 1,
 'F16B4': 0,
 'F16B5': 0,
 'F16B6': 11,
 'F16B7': 0,
 'F16C1': 0,
 'F16C3': 1,
 'F16C4': 0,
 'F16C5': 0,
 'F16C6': 0,
 'F16C7': 0,
 'F16D1': 0,
 'F16D2': 0,
 'F16D3': 1,
 'F16D4': 0,
 'F16D5': 2,
 'F16D6': 6,
 'F16D7': 0,
 'F16E1': 2,
 'F16E2': 0,
 'F16E3': 0,
 'F16E4': 0,
 'F16E5': 0,
 'F16E6': 1,
 'F16E7': 0,
 'F16F1': 0,
 'F16F2': 0,
 'F16F3': 0,
 'F16F4': 0,
 'F16F5': 0,
 'F16F6': 0,
 'F16F7': 0,
 'F16G1': 0,
 'F16G3': 0,
 'F16G4': 2,
 'F16G5': 2,
 'F16G6': 13,
 'F17A1': 0,
 'F17A2': 0,
 'F17A3': 0,
 'F17A6': 1,
 'F17A7': 1,
 'F17B1': 10,
 'F17B2': 0,
 'F17B3': 2,
 'F17B6': 0,
 'F17B7': 1,
 'F17C1': 8,
 'F17C2': 2,
 'F17C3': 1,
 'F17C4': 1,
 'F17C6': 0,
 'F17C7': 6,
 'F17D1': 2,
 'F17D2': 0,
 'F17D4': 0,
 'F17D6': 3,
 'F17D7': 2,
 'F17E1': 0,
 'F17E2': 0,
 'F17E3': 0,
 'F17E4': 0,
 'F17E5': 0,
 'F17E6': 1,
 'F17E7': 1,
 'F17F1': 0,
 'F17F2': 0,
 'F17F3': 1,
 'F17F4': 0,
 'F17F5': 8,
 'F17F6': 0,
 'F17F7': 0,
 'F17G1': 0,
 'F17G3': 8,
 'F17G4': 0,
 'F17G5': 6,
 'F17G6': 0,
 'F18A1': 0,
 'F18B1': 3,
 'F18B2': 10,
 'F18B3': 0,
 'F18B4': 3,
 'F18C1': 0,
 'F18C2': 0,
 'F18C3': 0,
 'F18C4': 0,
 'F18D1': 1,
 'F18D2': 1,
 'F18E1': 1,
 'F18E2': 2,
 'F18E3': 0,
 'F18F1': 0,
 'F18F2': 4,
 'F18F3': 2,
 'F18F4': 1,
 'F18G1': 1,
 'F18G3': 0,
 'F18G4': 0,
 'F3F1': 12,
 'F5A2': 1,
 'F5A4': 1,
 'F5B1': 4,
 'F5B2': 1,
 'F5B3': 1,
 'F5B4': 2,
 'F5C1': 1,
 'F5C2': 5,
 'F5C3': 0,
 'F5C4': 0,
 'F5D1': 1,
 'F5D3': 0,
 'F5D4': 0,
 'F5E2': 0,
 'F5E3': 3,
 'F5E4': 1,
 'F5F2': 2,
 'F5F4': 0,
 'F5G2': 0,
 'F6A2': 0,
 'F6A4': 11,
 'F6B2': 0,
 'F6B3': 0,
 'F6B4': 1,
 'F6C2': 0,
 'F6C4': 2,
 'F6D2': 5,
 'F6D3': 0,
 'F6D4': 0,
 'F6E2': 1,
 'F6E3': 1,
 'F6E4': 8,
 'F6F2': 2,
 'F6F3': 0,
 'F6F4': 1,
 'F6G1': 0,
 'F6G2': 0,
 'F6G3': 2,
 'F7A1': 0,
 'F7A2': 0,
 'F7A3': 1,
 'F7A4': 0,
 'F7A5': 0,
 'F7A6': 16,
 'F7B1': 13,
 'F7B2': 3,
 'F7B3': 0,
 'F7B4': 1,
 'F7B5': 1,
 'F7B6': 9,
 'F7C1': 1,
 'F7C2': 1,
 'F7C3': 0,
 'F7C4': 0,
 'F7C5': 0,
 'F7C6': 4,
 'F7D1': 0,
 'F7D2': 5,
 'F7D3': 0,
 'F7D4': 8,
 'F7D5': 1,
 'F7D6': 1,
 'F7E1': 0,
 'F7E2': 1,
 'F7E5': 2,
 'F7E6': 1,
 'F7F1': 0,
 'F7F2': 1,
 'F7F3': 15,
 'F7F4': 0,
 'F7F5': 0,
 'F7F6': 2,
 'F7G1': 0,
 'F7G2': 1,
 'F7G3': 0,
 'F7G5': 3,
 'F8A1': 3,
 'F8A2': 3,
 'F8A3': 2,
 'F8A4': 0,
 'F8A6': 0,
 'F8B1': 0,
 'F8B2': 1,
 'F8B4': 0,
 'F8B5': 7,
 'F8B6': 0,
 'F8C1': 3,
 'F8C2': 0,
 'F8C3': 1,
 'F8C4': 0,
 'F8C5': 4,
 'F8C6': 0,
 'F8D1': 0,
 'F8D2': 0,
 'F8D3': 8,
 'F8D4': 2,
 'F8D5': 0,
 'F8D6': 0,
 'F8E1': 1,
 'F8E2': 1,
 'F8E3': 0,
 'F8E4': 1,
 'F8E6': 0,
 'F8F1': 0,
 'F8F2': 0,
 'F8F3': 0,
 'F8F4': 0,
 'F8G1': 1,
 'F8G2': 0,
 'F8G3': 0,
 'F8G4': 1,
 'F8G5': 0,
 'F9A1': 1,
 'F9A2': 0,
 'F9A3': 2,
 'F9A4': 1,
 'F9A5': 2,
 'F9A6': 0,
 'F9B1': 0,
 'F9B2': 0,
 'F9B3': 0,
 'F9B4': 0,
 'F9B5': 0,
 'F9B6': 3,
 'F9C1': 0,
 'F9C2': 0,
 'F9C4': 0,
 'F9C5': 4,
 'F9D1': 0,
 'F9D2': 0,
 'F9D3': 3,
 'F9D5': 0,
 'F9D6': 4,
 'F9E2': 0,
 'F9E3': 0,
 'F9E4': 0,
 'F9E5': 1,
 'F9E6': 1,
 'F9F1': 0,
 'F9F2': 14,
 'F9F3': 1,
 'F9F4': 0,
 'F9F5': 0,
 'F9F6': 0,
 'F9G1': 0,
 'F9G2': 0,
 'F9G3': 1,
 'F9G4': 0,
 'F9G5': 0}