In [1]:
import pandas as pd
df = pd.read_csv("subset_pairs.csv")

In [1]:
def motifToKmer(m):
	motif = {}
	for i in range(len(m)):
		motif[i] = m[i]
	return ["".join(kmer) for kmer in it.product(*(motif[Nuc] for Nuc in motif.keys()))]

In [14]:
a=pd.DataFrame(columns=['a','b'])
a.loc[0] = [1,2]
b=pd.DataFrame(columns=['a','b'])
b.loc[0] = [1,2]
c=pd.concat([a,b])
c.index = range(c.shape[0])
c

   a  b
0  1  2
1  1  2

Empty DataFrame
Columns: [a, b]
Index: []

In [12]:
a

Empty DataFrame
Columns: [a, b]
Index: []

In [6]:
import random
from random import randint
import numpy as np
import itertools as it
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
import pandas as pd
import multiprocessing		
motifToKmer("A|AG|AC|A|A|C|A|A|".split("|"))

[]

In [7]:
range(0,599,6)

[0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 102,
 108,
 114,
 120,
 126,
 132,
 138,
 144,
 150,
 156,
 162,
 168,
 174,
 180,
 186,
 192,
 198,
 204,
 210,
 216,
 222,
 228,
 234,
 240,
 246,
 252,
 258,
 264,
 270,
 276,
 282,
 288,
 294,
 300,
 306,
 312,
 318,
 324,
 330,
 336,
 342,
 348,
 354,
 360,
 366,
 372,
 378,
 384,
 390,
 396,
 402,
 408,
 414,
 420,
 426,
 432,
 438,
 444,
 450,
 456,
 462,
 468,
 474,
 480,
 486,
 492,
 498,
 504,
 510,
 516,
 522,
 528,
 534,
 540,
 546,
 552,
 558,
 564,
 570,
 576,
 582,
 588,
 594]

In [2]:
df.head()

                      enhancer_name                     promoter_name  label
0   GM12878|chr12:47054800-47055000   GM12878|chr12:46764725-46767522      1
1   GM12878|chr17:38756400-38756801   GM12878|chr17:38715408-38722200      1
2  GM12878|chr1:110070600-110070652  GM12878|chr1:110036611-110037524      1
3   GM12878|chr11:33850633-33851114   GM12878|chr11:34378274-34380867      1
4   GM12878|chr20:56055309-56055600   GM12878|chr20:57578645-57583400      1

In [5]:
df.shape

(1600, 3)

In [3]:
pos = df[df.label == 1]
my_pos_list = []
for x in pos.index:
    my_pos_list.append([pos.at[x,'enhancer_name'].replace("GM12878|",""),pos.at[x,'promoter_name'].replace("GM12878|","")])
out = open("subset_pos_pairs.list","wb")
for i in my_pos_list:
    print >>out,",".join(i)

In [4]:
pos = df[df.label == 0]
my_pos_list = []
for x in pos.index:
    my_pos_list.append([pos.at[x,'enhancer_name'].replace("GM12878|",""),pos.at[x,'promoter_name'].replace("GM12878|","")])
out = open("subset_neg_pairs.list","wb")
for i in my_pos_list:
    print >>out,",".join(i)

In [8]:
a=pd.read_csv("result.csv",index_col=0,nrows=5)

In [9]:
a.shape

(5, 2765)